.custom-modal {
	
}

/* MARK: - Modal Header */

.custom-modal-header {
	color: #fff;
	border-bottom:1px solid #262C39;
	background-color: #262C39;
}

.custom-modal-header h1, .custom-modal-header h2, .custom-modal-header h3, .custom-modal-header h4, .custom-modal-header h5 {
	text-align: center;
}

.custom-modal-header .close {
	color: #fff;
	opacity: 1;
}

/* MARK: - Modal Body */

.custom-modal-body {
	color: #fff;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom:1px solid #262C39;
	background-color: #262C39;
}

.custom-modal-body p {
	text-align: center;
}

.custom-modal-body p.small {
	font-size: 10.5px;
	margin: initial;
}

/* MARK: - Modal Footer */

.custom-modal-footer {
	color: #fff;
	background-color: #262C39;
}

/* MARK: - Modal Helpers */

.custom-modal-img {
	width: 70%;
}

/* MARK: - SwingLync Info */

#contactUsModal .modal-title {
	font-size: 24px;
}
#contactUsModal .modal-content{
	border-radius: 20px;
}

#contactUsModal .modal-body{
	border-radius: 15px;
    border: 1px solid #888;
}

#contactUsModal .contact-form-wrapper {
    border-right: 1px solid #888;
    padding-right: 10%;
}

.custom-modal-info h1, .custom-modal-info h2, .custom-modal-info h3, .custom-modal-info h4, .custom-modal-info h5{
	text-align: center;
}

.custom-modal-info .section {
	text-align: center;
	margin-bottom: 25px;
}

.custom-modal-info .section p {
	margin: initial;
}

.custom-modal-info p {
	margin-bottom: 10px;
	font-size: 8pt;
}


/* MARK: - Sign Up Now */

.custom-modal-sign-up {
	width: 50%;
}

/* MARK: - Forms */

.custom-modal-form p {
	text-align: left;
}

.custom-modal-form detail {
	text-align: center;
}

.custom-modal-form input {
	margin-bottom: 10px;
	width: 100%;
	color: black;
}

.custom-modal-form textarea {
	margin-bottom: 10px;
	width: 100%;
	color: black;
}

.custom-form-submit {
	width: 200px;
}

.custom-form-submit .order-button {
	margin: 0 auto;
	width: 100px;
}

.custom-form-submit input[type=submit] {
	color: white;
	font-size: 12pt;
}

/* Other Custom Styles */

.custom-section-header {
    font-size: 32pt;
    font-weight: 500;
}

.custom-section-content {
    font-size: 22pt;
    font-weight: 500;
}

.custom-section-content.reduced {
    font-size: 15pt;
    font-weight: 500;	
}


/* Sign Up Modal */
#signUpModal {
    width: 100vw;
}
#signUpModal .modal-content {
    width: 350px;
    margin: 0 auto;
    border: 1px solid #888;
    border-radius: initial;
}

#signUpModal .modal-header,
#signUpModal .modal-body {
	padding: initial;
}
#signUpModal .modal-header .section-header {
	font-size: 21px;
}

#signUpModal .modal-body .section-content {
	margin: initial;
	font-size: 11px;
}

#signUpModal .modal-body .logo img {
	float: right;
	height: 30px;
    padding: 5px;
    margin-top: 10px;
}

#signUpModal .modal-body form {
    padding: 10px 24px;
}
#signUpModal .modal-body form .btn-group {
    display: inline-block;
    margin-left: 15px;
}
#signUpModal .modal-body form .mc-field-group {
    width: 200px;
	min-height: initial;
    padding: initial;
    float: left;
}
#signUpModal .modal-body form input.email {
	background-color: #dddddd;
    font-size: 12px;
}
#signUpModal .modal-body form .btn-group .button
{
    line-height: 29px;
    margin: initial;
    font-size: 14px;
    padding: 0 15px;
}

@media screen and (max-width: 449px) {
	#signUpModal .modal-content {
	    width: 330px;
	}
	#signUpModal .modal-body form {
	    padding: 10px;
	}
	#signUpModal .modal-body form .mc-field-group {
	    width: 190px;
	}

	#signUpModal .modal-body form .btn-group {
	    display: inline-block;
	    margin-left: 10px;
	}
	#signUpModal #mc_embed_signup_scroll {
		text-align: center;
	}
}

@media screen and (max-width: 320px) {
	#signUpModal .modal-content {
	    width: 300px;
	}
	#signUpModal .modal-body form {
	    padding: 10px;
	}
	#signUpModal .modal-body form .mc-field-group {
	    width: 168px;
	}

	#signUpModal .modal-body form .btn-group {
	    display: inline-block;
	    margin-left: 10px;
	}
	#signUpModal #mc_embed_signup_scroll {
		text-align: center;
	}
}